body {
  background-color: #D0D3DF;
  background-image: url("/img/gears_more_gears.jpg");
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #687ABD;
}

.container {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, .6);
  padding-left: 5px;
  padding-right: 5px;
}

.robot_profiles {
  background-color: #70777E;
  margin-bottom: 10px;
  padding: 15px;
  width: 95%;
}

.robot_profiles h3 {
  margin-top: 5px;
}

.robot_profiles img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 2px solid #000;
  width: 90%;
}

.robot_profiles a {
  color: #000;
}

.btn {
  margin-bottom: 5px;
}

.dashboard {
  text-align: center;
}

.col-sm-4 {
  width: 33%;
  padding: 7px;
}

.row {
  margin-left: 2px;
}
