<h1>New Robot</h1>
<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <input type='text' name='robot[name]'  placeholder="enter name here"/><br/>
  <input type='submit' value="create robot"/>
</form>

<a href="/robots">Back to Index</a>