<h1>New Robot</h1>
<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <input type='text' name='robot[name]'  value="name"/><br/>
  <!-- <input type='text' name='robot[city]'  value="city"/><br/>
  <input type='text' name='robot[state]' value="state"/><br/>
  <input type='text' name='robot[avatar]'value="avatar"/><br/>
  <input type='text' name='robot[birthday]' value="birthday"/><br/>
  <input type='text' name='robot[date_hired]' value="date hired"/><br/>
  <input type='text' name='robot[department]' value="department"/><br/> -->
  <input type='submit'/>
</form>

<a href="/robots">Back to Index</a>